<div class="navbar container" style='flex-grow: 0;'>
  <a href="{{ site.baseurl }}/index.html" id="site-title" class="pull-left"><i class='fas fa-crow'></i> Lisa Girard
  </a>
  <ul id="navigation-list" class="pull-right navbar-ul">
   <li class="pull-left navbar-list">
        <i id="mode-icon" class="fa fa-moon"></i>
    </li>
    <!-- <li class="pull-left navbar-list">
      <a href="{{ site.baseurl }}/index.html"> home </a>
    </li> -->
    <!-- <li class="pull-left navbar-list">
      <a href="{{ site.baseurl }}/research.html"> research </a>
    </li> -->
    <!-- <li class="pull-left navbar-list">
      <a href="{{ site.baseurl }}/blog.html"> blog </a>
    </li> -->
  </ul>
</div>
<hr>



<!-- <nav>
    {% for item in site.data.navigation %}
      <a href="{{ item.link }}" {% if page.url == item.link %}class = "current"{% endif %}>
        {{ item.name }}
      </a>
    {% endfor %}
    <a href="{{ site.baseurl }}/index.html"><i class='fas fa-kiwi-bird'></i> breadcrumbs </a>
    <a href="{{ site.baseurl }}/index.html"><i class='fas fa-crow'></i> </a>
    <a href="{{ site.baseurl }}/index.html"><i class='fas fa-dragon'></i> </a>
    <a href="{{ site.baseurl }}/index.html"><i class='fas fa-kiwi-dove'></i> </a>
    <a href="{{ site.baseurl }}/index.html"><i class='fas fa-frog'></i> </a>
  </nav> -->
